node-red/flows.json
[{"id":"3f9fc888371c0dd3","type":"tab","label":"Métricas","disabled":false,"info":"","env":[]},{"id":"05e990cce7e1b8a5","type":"tab","label":"Itens","disabled":false,"info":"","env":[]},{"id":"2133658b7a05a6b7","type":"tab","label":"Moderação","disabled":false,"info":"","env":[]},{"id":"7dec52d97a820aca","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0c1d73","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#2563eb","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0c1d73","edited":true},"page-titlebar-backgroundColor":{"value":"#0c1d73","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#132eb8","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0c1d73","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":10,"cy":10,"px":0,"py":0}}},{"id":"d8322210a3220e10","type":"ui_tab","name":"Painel ReUse","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"274ca74e4f80a189","type":"ui_group","name":"Lista de Itens","tab":"d8322210a3220e10","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"b8fb35d9a3cc86d6","type":"ui_group","name":"Moderação de Itens","tab":"d8322210a3220e10","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"1b33970eaec11d3d","type":"ui_group","name":"Métricas","tab":"d8322210a3220e10","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"c6682907aba19968","type":"inject","z":"3f9fc888371c0dd3","name":"Buscar Métricas","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":210,"y":220,"wires":[["2b5aca091e821c55"]]},{"id":"2b5aca091e821c55","type":"function","z":"3f9fc888371c0dd3","name":"Solicitação de status","func":"// dispara 3 mensagens, uma para cada status\nnode.send([\n { payload: 'ACTIVE' },\n { payload: 'PAUSED' },\n { payload: 'TRADED' }\n]);","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":220,"wires":[["4138da5f1f92cb52"],["7898928392293c55"],["0219ee0e7cacc0f4"]]},{"id":"4138da5f1f92cb52","type":"http request","z":"3f9fc888371c0dd3","name":"GET /api/active","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://reuse-web.vercel.app/api/items?status=ACTIVE","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":640,"y":180,"wires":[["56af804b647b3095"]]},{"id":"7898928392293c55","type":"http request","z":"3f9fc888371c0dd3","name":"GET /api/paused","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://reuse-web.vercel.app/api/items?status=PAUSED","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":650,"y":220,"wires":[["56af804b647b3095"]]},{"id":"0219ee0e7cacc0f4","type":"http request","z":"3f9fc888371c0dd3","name":"GET /api/traded","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://reuse-web.vercel.app/api/items?status=TRADED","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":640,"y":260,"wires":[["56af804b647b3095"]]},{"id":"56af804b647b3095","type":"join","z":"3f9fc888371c0dd3","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","useparts":false,"accumulate":false,"timeout":"3","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":220,"wires":[["40811fc119074dee"]]},{"id":"40811fc119074dee","type":"function","z":"3f9fc888371c0dd3","name":"Montar grafico","func":"// msg.payload chega como array com 3 respostas (do join)\nconst respostas = msg.payload;\n\n// Cada resposta eh um array de itens retornado pela API\nconst ativos = Array.isArray(respostas[0]) ? respostas[0] : [];\nconst pausados = Array.isArray(respostas[1]) ? respostas[1] : [];\nconst trocados = Array.isArray(respostas[2]) ? respostas[2] : [];\n\nconst qtdAtivos = ativos.length;\nconst qtdPausados = pausados.length;\nconst qtdTrocados = trocados.length;\n\n// Formato correto para pie chart: data = [[v1, v2, v3]]\nmsg.payload = [{\n series: ['Ativos', 'Pausados', 'Trocados'],\n data: [[qtdAtivos, qtdPausados, qtdTrocados]],\n labels: ['Ativos', 'Pausados', 'Trocados']\n}];\n\nreturn [\n msg,\n { payload: qtdAtivos },\n { payload: qtdPausados },\n { payload: qtdTrocados }\n];","outputs":4,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":220,"wires":[["18597fa089252f4d"],["f918435dfcc30b55"],["e3b49012e56e966d"],["886040bec4b60372"]]},{"id":"18597fa089252f4d","type":"ui_chart","z":"3f9fc888371c0dd3","name":"Métricas ReUse","group":"1b33970eaec11d3d","order":1,"width":0,"height":0,"label":"Itens por status","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1220,"y":160,"wires":[[]]},{"id":"f918435dfcc30b55","type":"ui_text","z":"3f9fc888371c0dd3","group":"1b33970eaec11d3d","order":2,"width":0,"height":0,"name":"","label":"Total Ativo","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1210,"y":200,"wires":[]},{"id":"e3b49012e56e966d","type":"ui_text","z":"3f9fc888371c0dd3","group":"1b33970eaec11d3d","order":3,"width":0,"height":0,"name":"","label":"Pausados","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1200,"y":240,"wires":[]},{"id":"886040bec4b60372","type":"ui_text","z":"3f9fc888371c0dd3","group":"1b33970eaec11d3d","order":4,"width":0,"height":0,"name":"","label":"Trocados","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1200,"y":280,"wires":[]},{"id":"fa3566210246ab41","type":"inject","z":"05e990cce7e1b8a5","name":"Listar Itens","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[["151af34207e35250"]]},{"id":"151af34207e35250","type":"http request","z":"05e990cce7e1b8a5","name":"GET /api/items","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://reuse-web.vercel.app/api/items","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":380,"y":280,"wires":[["64862d02cbce8d94"]]},{"id":"64862d02cbce8d94","type":"function","z":"05e990cce7e1b8a5","name":"Formatar Tabela","func":"const items = msg.payload;\n\nif (!Array.isArray(items)) {\n msg.payload = \"<p style=\\\"color:#888;padding:20px\\\">Nenhum item encontrado ou erro na API.</p>\";\n return msg;\n}\n\nlet html = '<table style=\"width:100%;font-size:13px;border-collapse:collapse\">' +\n '<thead><tr style=\"border-bottom:1px solid #ddd\">' +\n '<th style=\"text-align:left;padding:6px\">Titulo</th>' +\n '<th style=\"text-align:left;padding:6px\">Categoria</th>' +\n '<th style=\"text-align:left;padding:6px\">Status</th>' +\n '<th style=\"text-align:left;padding:6px\">ID</th>' +\n '</tr></thead><tbody>';\n\nconst cores = { ACTIVE:\"#22c55e\", PAUSED:\"#f59e0b\", TRADED:\"#3b82f6\", DELETED:\"#ef4444\" };\n\nitems.slice(0,20).forEach(item => {\n const cor = cores[item.status] || \"#888\";\n html += '<tr style=\"border-bottom:1px solid #eee\">' +\n '<td style=\"padding:6px\">' + (item.title || \"-\") + '</td>' +\n '<td style=\"padding:6px\">' + (item.category || \"-\") + '</td>' +\n '<td style=\"padding:6px\"><span style=\"background:' + cor + ';color:#fff;padding:2px 8px;border-radius:12px;font-size:11px\">' + item.status + '</span></td>' +\n '<td style=\"padding:6px;font-size:11px;color:#888\">' + item.id + '</td></tr>';\n});\n\nhtml += \"</tbody></table>\";\nmsg.payload = html;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["ee3f9fc0d03f0cd7"]]},{"id":"ee3f9fc0d03f0cd7","type":"ui_template","z":"05e990cce7e1b8a5","group":"274ca74e4f80a189","name":"Tabela de itens","order":1,"width":"12","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":820,"y":280,"wires":[[]]},{"id":"1ea635a8b17c3411","type":"ui_text_input","z":"2133658b7a05a6b7","name":"Input ID","label":"ID do item","tooltip":"","group":"b8fb35d9a3cc86d6","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":140,"y":300,"wires":[["6498d5a8f20eb461"]]},{"id":"6498d5a8f20eb461","type":"change","z":"2133658b7a05a6b7","name":"","rules":[{"t":"set","p":"itemId","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":300,"wires":[["607460e2cd356277","0147eb592a9d2c08"]]},{"id":"607460e2cd356277","type":"ui_button","z":"2133658b7a05a6b7","name":"Btn Pausar","group":"b8fb35d9a3cc86d6","order":2,"width":"0","height":"0","passthru":false,"label":"Pausar Item","tooltip":"","color":"","bgcolor":"","className":"","icon":"pause","payload":"PAUSED","payloadType":"str","topic":"topic","topicType":"msg","x":570,"y":280,"wires":[["4f754e573ee74564","aad619bbe0663578"]]},{"id":"0147eb592a9d2c08","type":"ui_button","z":"2133658b7a05a6b7","name":"Btn Ativar","group":"b8fb35d9a3cc86d6","order":3,"width":0,"height":0,"passthru":false,"label":"Ativar Item","tooltip":"","color":"","bgcolor":"","className":"","icon":"check","payload":"ACTIVE","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":320,"wires":[["4f754e573ee74564","d386daa50e22d941"]]},{"id":"4f754e573ee74564","type":"function","z":"2133658b7a05a6b7","name":"Montar PATCH","func":"const novoStatus = msg.payload;\nconst itemId = flow.get('itemId');\n\nif (!itemId) {\n node.warn('Nenhum ID informado');\n return null;\n}\n\nmsg.url = `https://reuse-web.vercel.app/api/items/${itemId}`;\nmsg.payload = { status: novoStatus };\nmsg.method = 'PATCH';\nmsg.headers = { 'Content-Type': 'application/json' };\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":300,"wires":[["135016ee01a2bdea","31f3ea3474906bbf"]]},{"id":"135016ee01a2bdea","type":"http request","z":"2133658b7a05a6b7","name":"PATCH status","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1020,"y":300,"wires":[["1aea7aa301683a83","21cc1ef3afa58c44"]]},{"id":"1aea7aa301683a83","type":"function","z":"2133658b7a05a6b7","name":"Verificar Resposta","func":"const resposta = msg.payload;\nconst status = msg.statusCode;\n\nif (status === 200) {\n msg.payload = 'Item atualizado com sucesso!';\n} else {\n msg.payload = `Erro ${status}: ${JSON.stringify(resposta)}`;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":300,"wires":[["e5b436df05833db7"]]},{"id":"e5b436df05833db7","type":"ui_toast","z":"2133658b7a05a6b7","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Notificação","x":1470,"y":300,"wires":[]},{"id":"aad619bbe0663578","type":"debug","z":"2133658b7a05a6b7","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":100,"wires":[]},{"id":"d386daa50e22d941","type":"debug","z":"2133658b7a05a6b7","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"31f3ea3474906bbf","type":"debug","z":"2133658b7a05a6b7","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":120,"wires":[]},{"id":"21cc1ef3afa58c44","type":"debug","z":"2133658b7a05a6b7","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":140,"wires":[]}]
